body {
	font-family: monospace;
}

#history {
	border: solid 1px gray; 
	overflow:auto; 
	width: 200px; 
	height: 200px;
}

.popup {
	visibility: hidden; 
	position: absolute; 
	top: 200px;
	left: 200px;
	border: solid 1px gray; 
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	z-index: 2;
}

.close-popup{
	float: right;
}

#save-popup {
	width: 300px;
	height: 200px;
}

#load-popup {
	width: 300px;
	height: 200px;
}

#gameover-popup {
	width: 300px;
	height: 60px; 
}

#gameover-message {
	margin: 20px;
	text-align: center;
}